{{define "item"}}<!DOCTYPE html>
<html lang="ja">
<head>
    {{template "head"}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    <title>{{.Title}}</title>
</head>
<body>
<div class="container">
    {{.Body}}
    <a href="/wiki">一覧に戻る</a>
    <a href="{{.Title}}/edit">編集</a>
</div>
</body>
</html>
{{end}}