{{define "new-item"}}<!DOCTYPE html>
<html lang="ja">
<head>
    {{template "head"}}
    <title>HIDEL Wiki</title>
</head>
<body>
<div class="container">
    <h1>新規作成</h1>
    <form action="/wiki-new-item" method="post">
        <button
            type="button"
            id="mobilePreview"
            class="btn btn-secondary btn-sm"
            data-toggle="button"
            aria-pressed="false"
            autocomplete="off"
            style="display: none">
            Preview
        </button>
        <textarea id="markdown" name="markdown" class="form-control togglePreview" rows="20"></textarea>
        <div id="content" class="togglePreview" style="display: none"></div>
        <button type="submit" class="btn btn-primary" id="save">Save</button>
    </form>

    <a href="/wiki"><p>一覧に戻る</p></a>

    <script>
        var onMobile = function () {
            $('#markdown').val('# タイトル (必須)');
            $('#mobilePreview').show();
            $('#mobilePreview').click(function () {
                $('.togglePreview').toggle();
                var markdownText = $('#markdown').val();
                $('#content')
                    .html(marked(markdownText));
            });

        };

        var onPc = function () {
            var simplemde = new SimpleMDE({
                autosave: {
                    enabled: true,
                    uniqueId: "new-item",
                    delay: 1000,
                },
                element: document.getElementById("markdown"),
                initialValue: '# タイトル (必須)',
                shortcuts: {
                    drawTable: "Cmd-Alt-T"
                },
                showIcons: ["code", "table"],
                spellChecker: false,
            });
        };

        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
            onMobile();
        } else {
            onPc();
        }
    </script>
</div>
</body>
</html>
{{end}}