{{define "redirect"}}<!DOCTYPE html>
<html lang="ja">
<head>
    {{template "head"}}
    <meta http-equiv="refresh" content="1;URL={{.Path}}">
    <title>項目の作成に成功しました。<</title>
</head>
<body>
<div class="container">
    <h1>項目の作成に成功しました。リダイレクトします。</h1>
</div>
</body>
</html>
{{end}}