{{define "wiki"}}<!DOCTYPE html>
<html lang="ja">
<head>
    {{template "head"}}
</head>
<body>
<div class="container">
    <a href="/wiki-new-item"><p>新規作成</p></a>
    <h2>項目一覧</h2>
    <div class="list-group">
    {{range .Items}}
        <a href="wiki/{{.Path}}" class="list-group-item list-group-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{.Title}}</h5>
                <small>{{.ModTime.Format "2006-01-02T15:04:05"}}</small>
            </div>
        </a>
    {{end}}
    </div>
</div>
</body>
</html>
{{end}}
